.main {
    -fx-background-color: #121212;
}

.text-area {
    -fx-text-fill: #fff;
    -fx-control-inner-background: #212121;
    -fx-border-style: none;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-letter-spacing: 1pt;
}


.text-area:focused {
    -fx-border-color: #ff9800;
}

.label{
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.flat-button {
    -fx-background-color: #212121;
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
    -fx-padding: 0.6em 1.2em;
    -fx-font-size: 1.2em;
    -fx-transition: all 5s;
}
.flat-button:hover{
    -fx-background-color: #424242;
    -fx-cursor: hand;
}

.error{
    -fx-text-fill: red;
}